<div class="card">
    <div class="card-body p-3">
        <form action="/registro?access_token=52789JHG653djhg42DSA78DASgf56342789KJH54DAS3265789DASA23" method="post">
            <h2 class="mb-4">
                Registro de usuário
            </h2>
            <input type="text" class="form-control mb-2" id="nome" name="nome" placeholder="Nome completo">
            <input type="text" class="form-control mb-2" id="username" name="username" placeholder="Nome de usuário">
            <input type="text" class="form-control mb-2" id="email" name="email" placeholder="Endereço de e-mail">
            <input type="password" class="form-control mb-2" id="senha" name="senha" placeholder="Senha">
            <button type="submit" class="btn btn-success w-25 mt-2 mb-2">Criar conta</button>
        </form>
        <a href="/" class="mt-5">Retornar</a> | <a href="/login">Fazer login</a>
    </div>
</div>

